body{
    padding: 0;
    margin: 0 auto;
    width: 1024px;

    /*background-image: url(../image/fundo.png);*/
    font-family: 'Arial', sans-serif;
    font-size: 17px;

    border-left-color: #0f79b9;
    border-left-width: 8px;
    border-left-style: solid;
    border-right-color: #0f79b9;
    border-right-width: 8px;
    border-right-style: solid;
}
header{
    padding: 20px;
}
footer{
    padding: 20px;
    height: 80px;
    background-color: #89b2fc;

    border-top-color: #0f79b9;
    border-top-width: 3px;
    border-top-style: solid;

    font-size: 14px;
    color: white;
}
nav{
    padding: 0px;
    height: 400px;
    width: 180px;
    margin-right: 30px;
    background-color: white;
    float: left;
}
a{
    text-decoration: none;
}
nav a{
    color: white;
    background-color: #0071b8;
    padding-left: 30px;
    padding-right: 30px;
}
nav a:hover{
    color: aliceblue;
    background-color: #6abeea;
}
nav li{
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}
nav ul{
    list-style:none;
    padding: 0;
}
#cabecalho{
    background-color: blue;
    /*background-image: url(imagens/fundo_cabecalho.png);*/
    width: 985px;
    height: 300px;
}
#navegacao{
    width: 700px;
    height: 150px;
    margin-top: 5px;
    margin-left: 10px;
    padding-top: 0px;
    padding-left: 10px;
    position: relative;
    float: left;
    background-color: red;
}
#corpo{
    background-color: white;
    min-height: 600px;
    padding-left: 9px;
    padding-top: 10px;
}
#logo{
    width: 200px;
    height: 200px;
    background-image: url(../image/instamanda.jpg);
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 775px;
    position: absolute;
    float: right;
}
#conteudo{
    background-color: white;
    padding: 20px;
    text-align: justify;
    width: 660px;
    float: left;
}
#inputs{
    width: 700px;
    height: 100px;
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 5px;
    position: relative;
    float: left;
    background-color: yellow;
}
.itemNav{
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0071b8;
}
.clear{
    clear: both;
}